<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='/main.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ get_url(path='/') }}">{{ config.title }}</a>
            <span>
                <a href="{{ get_url(path='/about/') }}">About</a>
                <a href="{{ get_url(path='/projects/') }}">Projects</a>
                <a href="mailto:tariqselassie@gmail.com">Contact</a>
            </span>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <p>&copy; {{ now() | date(format="%Y") }} {{ config.extra.author_name }}</p>
    </footer>
</body>
</html>
